.caithe {
    color: #e44;
}
.tayne {
    color: #b7d;
}
.naia {
    color: #0bb;
}
.komi {
    color: #7e1;
}
.lana {
    color: #f80;
}
.yasimir {
    color: #79e;
}
.wiktori {
    color: #f50;
}
.mara {
    color: #ccc;
}
.watchdog {
    color: #c83;
}
.garbage {
    color: #a98;
}
.emperor {
    color: #888;
}

.magenta {
    --body-bg-image: url('/img/background-lines.png');
    --body-bg-size: 384px;
    --accent-1: #213;
    --headers: #f6b;
    --border: #c6f;
    --links: #d7d;
    --sidebar: #314;
    --main-color: #626;
}
