{% extends "base.html" %}

{% block headaddons %}
    <link rel="stylesheet" href="/js/katex.min.css">
    <script src="/js/katex.min.js"></script>
    <script src="/js/auto-render.min.js"></script>
    <script src="/js/webline.js"></script>
{% endblock %}

{% block content %}
    {{page.content | safe}}
{% endblock %}

{% block footaddons %}
    <!-- This for KaTex to work -->
    <script>
      renderMathInElement(
          document.body,
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
    </script>
{% endblock %}